<p>From:  <%= @contact_message.email %></p>
<p>Subject:  <%= @contact_message.subject %></p>

<p>Message:</p>
<p><%= @contact_message.body %></p>

<p>--</p>
<p>This email was sent via your contact form!</p> 
