<p>From:  <%= @contact_message.email %><br />
Subject:  <%= @contact_message.subject %></p>

<p>Message:<br />
<%= @contact_message.body %></p>

<p>--<br />
This email was sent via your contact form!</p> 
