<p>You received a message from <%= App.url %>!</p>

<p><b>From:</b>  <%= @contact_message.email %></p>
<p><b>Subject:</b>  <%= @contact_message.subject %></p>

<p><b>Message:</b></p>
<p><%= @contact_message.body %></p>
